.sub_fol{
    padding-left: 0.5em;
    border-left-style: solid;
    border-width: 1px;
    border-color: gainsboro;
}

.coll_folder{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}